* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}
body {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 16px;
  max-width: 420px;
  margin: 0 auto;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}
.header-icons {
  position: absolute;
  right: 0;
  display: flex;
  gap: 15px;
  font-size: 20px;
}
.profile-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}
.avatar-box {
  width: 86px;
  height: 86px;
  background-color: #e1e1e1;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stats-box {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  text-align: center;
}
.number {
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
}
.text {
  font-size: 12px;
  color: #666;
  margin-top: 2px;
}
.profile-name {
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 5px;
}
.buttons-container {
  display: flex;
  gap: 8px;
  margin-top: 15px;
}
.btn {
  flex: 1;
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.btn-icon {
  flex-grow: 0;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab,
.tab-e {
  flex: 1;
  text-align: center;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.tabs {
  display: flex;
  margin-top: 25px;
  border-bottom: 1px solid #efefef;
  width: 100%;
}

.tab {
  color: #8e8e8e;
}

.tab-e {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  max-width: 600px;
  margin: 20px auto;
}

.post-item {
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.post-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-check {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-check:checked + .modal {
  display: flex;
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
  object-fit: contain;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
